<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid Component</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="style.css" />

    <!-- component template -->
    <script type="text/x-template" id="grid-template">
      <table>
          <thead>
              <tr>
                <th v-for="key in columns" @click="sortBy(key)" :class="{active: sortKey == key}">
                    {{key|capitalize}}
                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
                </th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="entry in filteredHeroes ">
                  <td v-for="key in columns">{{entry[key]}}</td>
              </tr>
          </tbody>
      </table>
    </script>
  </head>
  <body>
    <div id="demo">
      <form id="search">
        Search
        <input
          name="query"
          v-model="searchQuery"
          placeholder="input for search"
        />
        <demo-grid
          :columns="gridColumns"
          :heroes="gridData"
          :filter-key="searchQuery"
        ></demo-grid>
      </form>
    </div>

    <script>
      // register go component
      Vue.component("demo-grid", {
        template: "#grid-template",
        props: {
          heroes: Array,
          columns: Array,
          filterKey: String,
        },
        data() {
          const sortOrders = {};
          this.columns.forEach((key) => {
            sortOrders[key] = 1;
          });
          return {
            sortKey: "",
            sortOrders: sortOrders,
          };
        },
        filters: {
          capitalize(v) {
            return v.charAt(0).toUpperCase() + v.slice(1);
          },
        },
        methods: {
          sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] *= -1;
          },
        },
        computed: {
          filteredHeroes() {
            let sortKey = this.sortKey; // name or power
            let filterKey = this.filterKey; // searchQuery
            let order = this.sortOrders[sortKey]; // 1 or -1
            let heroes = this.heroes;

            if (filterKey) {
              heroes = heroes.filter((row) =>
                Object.keys(row).some(function (key) {
                  return String(row[key]).toLowerCase().indexOf(filterKey) > -1;
                })
              );
            }
            if (sortKey) {
              heroes = heroes.slice().sort((a, b) => {
                a = a[sortKey];
                b = b[sortKey];
                return (a === b ? 0 : a > b ? 1 : -1) * order;
              });
            }

            return heroes;
          },
        },
      });

      const demo = new Vue({
        el: "#demo",
        data: {
          searchQuery: "",
          gridColumns: ["name", "power"],
          gridData: [
            { name: "Chuck Norris", power: Infinity },
            { name: "Bruce Lee", power: 9000 },
            { name: "Jackie Chan", power: 7000 },
            { name: "Jet Li", power: 8000 },
          ],
        },
      });
    </script>
  </body>
</html>
