h1 {
  font-weight: 300;
  font-size: 1.8em;
  margin-top: 0;
}
a {
  color: #fff;
}
a:hover {
  color: rgb(161, 19, 218);
}

.draggable-header-view {
  background-color: #fff;
  cursor: pointer;
  width: 320px;
  height: 560px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  margin: 30px auto;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  user-select: none;
  position: relative;
  color: #fff;
  /* overflow: hidden; */
}

.draggable-header-view .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.draggable-header-view .header,
.draggable-header-view .content {
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  z-index: 1;
}
.draggable-header-view .header {
  height: 160px;
}
.draggable-header-view .content {
  color: #333;
  line-height: 1.8em;
}
